<!-- 注文完了ページ -->

<div class = "button">
	<div style = "text-align: center">
		<h1>ご購入ありがとうございました！</h1>
		<%= link_to '買い物を続ける', products_path, class: "btn btn-sm btn-primary" %>&emsp;
		<%= link_to '注文を確認する', orders_path, class: "btn btn-sm btn-primary" %>&emsp;
		<%= link_to 'トップページに戻る', root_path, class: "btn btn-sm btn-primary" %>
	</div>
</div>
