<!-- 注文完了ページ -->

<div style = "text-align: center">
	<h1>ご購入ありがとうございました！</h1>
<%= link_to '買い物を続ける', product_path, class: "btn btn-sm btn-primary" %>
<%= ' / ' %>
<%= link_to 'トップページに戻る', root_path, class: "btn btn-sm btn-primary" %>
</div>
