<div class="col-xs-3">
<!--ジャンル一覧の表示→各ジャンルへ移動-->

<% flash.each do |message_type, message| %>
  <%= message %>
<% end %>


 <table class="table table-bordered">
  <thead>
    <tr>
     <th>ジャンル検索</th>
    </tr>
  </thead>
  <tbody>
    <tr>
     
      <% @genres.each do |genre| %>
       <td>
        <%= link_to products_path(genre_id: genre.id) do %>
        <%= genre.name %>
        <% end %>
       </td>
      <% end %>
    </tr>
  </tbody>
 </table>
</div>

<div>
　<P>ようこそ、NaganoCakeへ！</P>
  <p>このサイトは、ケーキ販売のECサイトのなります。</p>
  <p>会員でない方も商品の閲覧はできますが、<br>
  　　購入には会員登録が必要になります
　</p>
</div>

<h2>オススメ商品</h2>

<div> 商品画像を引っ張ってくる
 <p>商品名</p>
 <p>￥</p>
</div>

<div>商品画像
 <p>商品名</p>
 <p>￥</p>
</div>

<div>商品画像
 <p>商品名</p>
 <p>￥</p>
</div>

<div>商品画像
 <p>商品名</p>
 <p>￥</p>
</div>
　
もっと見る＞リンクボタン
