<div>
	
 <h3>ジャンル検索</h3>
 <p>ケーキ</p><br>
 <p>焼き菓子</p><br>
 <p>プリン</p><br>
 <p>キャンディ</p>


</div>

<div>
　<P>ようこそ、NaganoCakeへ！</P>
  <p>このサイトは、ケーキ販売のECサイトのなります。</p>
  <p>会員でない方も商品の閲覧はできますが、<br>
  　　購入には会員登録が必要になります
　</p>
</div>

<h2>オススメ商品</h2>

<div> 商品画像を引っ張ってくる
 <p>商品名</p>
 <p>￥</p>
</div>

<div>商品画像
 <p>商品名</p>
 <p>￥</p>
</div>

<div>商品画像
 <p>商品名</p>
 <p>￥</p>
</div>

<div>商品画像
 <p>商品名</p>
 <p>￥</p>
</div>
　
もっと見る＞リンクボタン
